<h1 class="title"><span class="title-red">G</span>B Player</h1>

<a class="navigation-view-button align-left" data-hook="settings-button" role="button">
    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
</a>

<a class="navigation-view-button align-right" data-hook="search-button" role="button">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
</a>